<head>
	 <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="jquery-3.2.0.min.js"></script>
      <link rel="stylesheet" type="text/css" href="bendras.css">
<meta charset="UTF-8">
</head>
<body class="w">
   <nav class="nav" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="index.html" class="brand-logo"><img src="image/logo.jpg" style="width:140px;height:64px;""></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Pagrindinis</a></li>
        <li><a href="vietos.html">Keisčiausios Vietos</a></li>      
        <!-- Dropdown Structure -->
        
        <li><a class="dropdown-button" href="" data-activates="dropdown1">Apie<i class="material-icons right"></i></a></li>    
        
      </ul>
            <ul id="dropdown1" class="dropdown-content">
        
        <li class="divider"></li>
        <li><a href="map.html">Apie</a></li>
        <li><a href="gabriele.html">Medeina</a></li>
        <li><a href="ovidijus.html">Perkūnas</a></li>
        <li><a href="darius.html">Vandenis</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="index.html">Pagrindinis</a></li>
        <li><a href="vietos.html">Keisčiausios Vietos</a></li>
        <li><a href="map.html">Apie</a></li>
        <li><a href="gabriele.html">Medeina</a></li>
        <li><a href="ovidijus.html">Perkūnas</a></li>
        <li><a href="darius.html">Vandenis</a></li>
      </ul>
      </div>
    </nav>
  
<nav>
    <div class="nav">
      <div class="col s12">
        <a href="index.html" class="breadcrumb">Pagrindinis</a>
        
      </div>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
         <h1 class="header center" style="color: #E8C896;">Keisčiausios Pasaulio vietos</h1>
        <div class="row center">
          <h5 class="header col s12" style="color: #E8C896;">Jeigu norite pamatyti daugiau paspauskite mygtuką!!!</h5>
        </div>
        <div class="row center">
          <a href="vietos.html" id="download-button" class="btn-large waves-effect nav" style="color: #E8C896;">Daugiau</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="image/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Card Section   -->                 
            
      <div class="row">
        <div class="col s12 m4 z-depth-2">
         <div class="card">
            <div class="card-image">
              <img src="image/arizona.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
            <h5 class="center">Arizonos banga, JAV</h5>
              <p>Spalvingas ir įspūdingas, erozijos išardytas uolėtas peizažas dominuoja didžiojoje pietryčių Jutos dalyje, o dykuma, plytinti abiejuose Paria upės krantuose yra nuostabi,  Coyote Buttes slėnyje ji - ypatingai graži. Šioje vietoje, tarp Arizonos ir Jutos pasienio, iš smiltainio susiformavo nežemišką peizažą menantis darinys. Banga (The Wave) – taip paprastai vietiniai vadina šį margą, raustelėjusių uolienų masyvą. </p>
            </div>
            <div class="card-action">
              <a href="http://www.mytrips.lt/Idomybes/Arizonos-banga/414">Plačiau</a>
            </div>
          </div>
        </div>
      <div class="col s12 m4 z-depth-2">
          <div class="card">
            <div class="card-image">
              <img src="image/urvai.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
            <h5 class="center">Luray urvai, Virdžinija JAV</h5>
              <p>Ši vieta, atvira ištisus metus, buvo atrasta 1878 metais gerai apšviesta, asfaltuotas pėsčiųjų takai veda pro dariniųpvz GIANT salėje, didelis kamerą su baseinais ir 47 pėdų aukščio stulpelis, o Dream ežeras, aiškia vandens telkinio, kuris atspindėtų formacijos aplink ir virš jos.Didysis Stalacpipe Organų esą didžiausia pasaulyje muzikos instrumentas, naudoja stalaktitais išsibarsčiusios visoje 3 akrų kurti muziką.</p>
            </div>
            <div class="card-action">
              <a href="http://howwes.com/lt/pages/1149377">Plačiau</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4  z-depth-2">
          <div class="card">
            <div class="card-image">
              <img src="image/velnio.jpg">
              <span class="card-title"></span>
            </div>

            <div class="card-content">
            <h5 class="center">Velnio rutuliukai, Australija</h5>
              <p>Spalvingas ir įspūdingas, erozijos išardytas uolėtas peizažas dominuoja didžiojoje pietryčių Jutos dalyje, o dykuma, plytinti abiejuose Paria upės krantuose yra nuostabi,  Coyote Buttes slėnyje ji - ypatingai graži. Šioje vietoje, tarp Arizonos ir Jutos pasienio, iš smiltainio susiformavo nežemišką peizažą menantis darinys. Banga (The Wave) – taip paprastai vietiniai vadina šį margą, raustelėjusių uolienų masyvą. </p>
            </div>
            <div class="card-action">
              <a href="http://www.mytrips.lt/Idomybes/Karlu-Karlu-velnio-rutuliukai/563">Plačiau</a>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="image/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Akmens namas, Portugalija</h4>
          <p class="left-align light ">Šis namas buvo pastatytas 1974 metais tarp 4 didelių riedulių, rastų šioje vietovėje. Nors namas atrodo primityviai, bet jo viduje netrūksta būtiniausių patogumų žmogui. Galbūt jame nėra modernių, ekologiško dizaino idėjų, bet jis vis vien atrodo beprotiškai puikiai ir originaliai. Viduje jauku. Kaip ir kiekviename vasarnamyje, jame yra reikalingiausi baldai, židinys, laiptai su mediniais turėklais į miegamąjį antrame aukšte, net vonia su baseinu, išskaptuoto iš didesnės uolos.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="image/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
  <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Kreivasis namas, Sopot Lenkija</h4>
          <p class="left-align light ">Lenkijoje, Sopote, kreivasis namas populiarus jau kurį laiką. Žiūrint į namą atrodo, kad mirguliuoja akyse, kad namas tarsi lengvai linguoja. Toks įspūdis susidaro, nes namas pastatytas visiškai be tiesių linijų. Jis pastatytas 2004-aisiais. Jei planuojate kelionę į Lenkiją, įtraukite ir šį objektą ir įsitikinkite, ar tai tikrai nėra kompiuterinė grafika ar kitoks triukas.</p>
        </div>

</div>
  <footer class="page-footer nav">
    
    <div  class="footer-copyright">
      <div class="container">
      &copy; 2017 Made by <a class="brown-text text-lighten-3" href="index.html">Web God</a>
      </div>
    </div>
  </footer>
      



	<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="js/as.js"></script>
</body>