<head>
	 <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="jquery-3.2.0.min.js"></script>
      <link rel="stylesheet" type="text/css" href="bendras.css">
	  <meta charset="UTF-8">
</head>
<body class="b" background="Nature-Blur-Wallpapers-2.jpg">
	<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
<div class="header">

  <nav class="nav" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="index.html" class="brand-logo"><img src="image/logo.jpg" style="width:140px;height:64px;""></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Pagrindinis</a></li>
        <li><a href="vietos.html">Keisčiausios Vietos</a></li> 
        <li><a href="map.html">Apie</a></li>
        <li><a href="gabriele.html">Medeina</a></li>
        <li><a href="ovidijus.html">Perkūnas</a></li>
        <li><a href="darius.html">Vandenis</a></li>     
        <!-- Dropdown Structure -->
        
        <li><a class="dropdown-button" href="" data-activates="dropdown1">Apie<i class="material-icons right"></i></a></li>    
        
      </ul>
            <ul id="dropdown1" class="dropdown-content">
        
        <li class="divider"></li>
        <li><a href="map.html">Apie</a></li>
        <li><a href="gabriele.html">Medeina</a></li>
        <li><a href="ovidijus.html">Perkūnas</a></li>
        <li><a href="darius.html">Vandenis</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="index.html">Pagrindinis</a></li>
        <li><a href="vietos.html">Keisčiausios Vietos</a></li>
      </ul>
      </div>
    </nav>
      
<nav>
    <div class="nav">
      <div class="col s12">
        <a href="index.html" class="breadcrumb">Pagrindinis</a>
      <a href="vietos.html" class="breadcrumb">Keisčiausios Vietos</a>
        
      </div>
    </div>
  </nav>
</div>
<div class="container">
<div class="Kanada" style="display: inline;">
   <div class="card-panel green lighten-5 z-depth-5">
    <div class="row">

            <img class = "z-depth-5 col s4 m4 l4" src="image/Canada.jpg" style=" display: block; margin:auto;">        
            <div class="header col s5 m5 l5 offset-s4-m4-l4">
            <h5 class="grey-text">Dėmėtasis Kliluk ežeras <br>Britų Kolumbijos dykumoje, Kanadoje</h5>
            <p>Dėmėtuoju praminto ežero reikia vykti lankyti vasarą, nes tik tuomet atsiranda jo garsiosios „dėmės“.</p>
            </div>
            <div class="col s1 m1 l2 offset-s9-m-l9"></div>
            <form action="vietos1.html">
            <button class="waves-effect waves-light btn  col s2 m2 l1 push-s11-m11-l11" style="background-color: #3F2521; width: 50px; height: 50px; margin-top: 50px;"><i class="large material-icons">info_outline</i></button>
            </form>
      </div>
      </div>
</div>

<div class="milzinukelias" style="display: inline;">
    <div class="card-panel  green lighten-5 z-depth-5">
      <div class="row">

      <img class = "z-depth-5 col s4 m4 l4" src="image/NorthernIreland2.jpg" style=" display: block; margin:auto;">
      <div class="header col s5 m5 l5 offset-s4-m4-l4">
          <h5 class="header col s12 grey-text">Milžinų kelias Šiaurės Airijoje</h5>
          <p>Milžinų kelias - didžiausia lavos plynaukštė Europoje. Šis geologinis darinys atsirado maždaug prieš 60 mln. metų.</p>
          </div>           
           <div class="col s1 m1 l2 offset-s9-m-l9"></div>
           <form action="vietos2.html">
          <button class="waves-effect waves-light btn  col s2 m2 l1 push-s11-m11-l11" style="background-color: #3F2521; width: 50px; height: 50px; margin-top: 50px;"><i class="large material-icons">info_outline</i></button>
          </form>
      </div>
    </div>
</div>

<div class="Filipinai" style="display: inline;">
    <div class="card-panel  green lighten-5 z-depth-5">
      <div class="row">

      <img class = "z-depth-5 col s4 m4 l4" src="image/Philippines.jpg" style=" display: block; margin:auto;">
      <div class="header col s5 m5 l5 offset-s4-m4-l4">
        <h5 class="header col s12 grey-text">Šokolado kalvos Bohol sala</h5>
         <p>Kūgio pavidalo kalvos, išsimėtę Filipinų Boholio saloje, pavadintos itin saldžiu vardu – Šokolado kalvos. </p>
      </div>
      <div class="col s1 m1 l2 offset-s9-m-l9"></div>
        <form action="vietos3.html">
        <button class="waves-effect waves-light btn  col s2 m2 l1 push-s11-m11-l11" style="background-color: #3F2521; width: 50px; height: 50px; margin-top: 50px;"><i class="large material-icons">info_outline</i></button>
        </form>
      </div>
    </div>
</div>
</div>
  <footer class="page-footer nav">
    
    <div  class="footer-copyright">
      <div class="container">
      &copy; 2017 Made by <a class="brown-text text-lighten-3" href="index.html">Web God</a>
      </div>
    </div>
  </footer>
</div>  
<script src="js/as.js"></script>    

</body>
