<head>
	 <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="jquery-3.2.0.min.js"></script>
      <link rel="stylesheet" type="text/css" href="bendras.css">
      <script src="vietoms.js"></script>
	  <meta charset="UTF-8">
</head>
<body class="b">

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
<div class="header">

  <nav class="nav" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="index.html" class="brand-logo"><img src="image/logo.jpg" style="width:140px;height:64px;""></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="index.html">Pagrindinis</a></li>
        <li><a href="vietos.html">Keisčiausios Vietos</a></li> 
        <li><a href="map.html">Apie</a></li>
        <li><a href="gabriele.html">Medeina</a></li>
        <li><a href="ovidijus.html">Perkūnas</a></li>
        <li><a href="darius.html">Vandenis</a></li>     
        <!-- Dropdown Structure -->
        
        <li><a class="dropdown-button" href="" data-activates="dropdown1">Apie<i class="material-icons right"></i></a></li>    
        
      </ul>
            <ul id="dropdown1" class="dropdown-content">
        
        <li class="divider"></li>
        <li><a href="map.html">Apie</a></li>
        <li><a href="gabriele.html">Medeina</a></li>
        <li><a href="ovidijus.html">Perkūnas</a></li>
        <li><a href="darius.html">Vandenis</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="index.html">Pagrindinis</a></li>
        <li><a href="vietos.html">Keisčiausios Vietos</a></li>
      </ul>
      </div>
    </nav>
      
<nav>
    <div class="nav">
      <div class="col s12">
        <a href="index.html" class="breadcrumb">Pagrindinis</a>
      <a href="vietos.html" class="breadcrumb">Keisčiausios Vietos</a>
      <a href="vietos1.html" class="breadcrumb">Dėmėtasis Kliluk ežeras</a>  
      </div>
    </div>
  </nav>
</div>
<div class="container">
 <div class="row">
      <div class="col s12" style="text-align: center; margin: 20px;">
      <span class="card-title white-text" style="font-size: x-large;">Dėmėtasis Kliluk ežeras</span>
            <div class="card">
            <div class="card-image">
              <div class="carousel carousel-slider" style="height: 400px">
    <a class="carousel-item" href="#one!"><img src="image/Canada.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="image/Canada2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="image/Canada3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="image/Canada4.jpg"></a>
  </div>
            </div>
            <div class="card-content">
              <p>Netoli Osoyoos miesto, Kanadoje, esantis ežeras vilioja turistus iš viso pasaulio. Dėmėtuoju praminto ežero reikia vykti lankyti vasarą, nes tik tuomet atsiranda jo garsiosios „dėmės“. Šiltuoju metų laiku beveik visas ežero vanduo išgaruoja, o likęs telkšo didelėse balose, o kiekviena jų būna skirtingų atspalvių. Ežero paslaptis – didžiuliai įvairių mineralų ir druskų kiekiai. Apskaičiuota, kad ežere sieros, magnio, kalcio, sidabro ir net titano metalų kiekis ten viršija nuo kelių dešimčių iki kelių šimtų kartų. Balos spalva priklauso nuo to, kokių metalų ir druskų ten liko. Pasakojama, kad Pirmojo pasaulinio karo metu, vasarą čia darbavosi tūkstančiai kinų darbininkų. Jie kasė įvairias medžiagas iš kurių buvo gaminama amunicija.Vietiniai indėnai ežerą vadina Kliluk vardu. Okanagano slėnio čiabuviams tai – šventa ir kultūriškai reikšminga vieta.Ežeras turi ir gydomųjų savybių. Jau kelis tūkstantmečius naudojamas jo dumblas, kuris mažina sąnarių skausmus, padeda gyti žaizdoms.</p>
            </div>
            </div>
      </div>
      <div class="vietos2"><a href="vietos2.html">
      <div class="col s6" style="text-align: center;">
      <span class="card-title white-text">Milžinų kelias Šiaurės Airijoje</span>
            <div class="card">
            <div class="card-image">
            <img src="image/NorthernIreland2.jpg" style="height: 250px;">
            </div>
            <div class="card-content">
              <p>Milžinų kelias - didžiausia lavos plynaukštė Europoje. Šis geologinis darinys atsirado maždaug prieš 60 mln. metų.</p>
            </div>
            </div>
            </a>
            </div>
      </div>
      <div class="vietos3"><a href="vietos3.html">
      <div class="col s6" style="text-align: center;">
            <span class="card-title white-text">Šokolado kalvos Bohol sala</span>
            <div class="card">
            <div class="card-image">
              <img src="image/Philippines.jpg" style="height: 250px;">
            </div>
            <div class="card-content">
              <p>Kūgio pavidalo kalvos, išsimėtę Filipinų Boholio saloje, pavadintos itin saldžiu vardu – Šokolado kalvos.</p>
            </div>
            </a>
            </div>
      </div>
  </div>
</div>
</div>
  <footer class="page-footer nav">
    <div  class="footer-copyright">
      <div class="container">
      &copy; 2017 Made by <a class="brown-text text-lighten-3" href="index.html">Web God</a>
      </div>
    </div>
  </footer>
  <script src="js/as.js"></script>
</body>